In [1]:
from dputils.scrape import Scraper, Tag
import pandas as pd
import numpy as np

In [3]:
query = 'mobiles'.replace(' ', '+')
page = 1
url = f'https://www.flipkart.com/search?q={query}&page={page}'
scrapedata = Scraper(url)
scrapedata.soup.title

In [4]:
target = Tag(cls='_1YokD2 _3Mn1Gg')
items = Tag(cls='_3pLy-c row')
title = Tag(cls='_4rR01T')
rating = Tag(cls='_3LWZlK')
offer_price = Tag(cls='_30jeq3 _1_WHN1')
orgprice = Tag(cls='_3I9_wc _27UcVY')
# img = Tag('img', attr='src')
output  = scrapedata.get_all(target, items, name=title, rating=rating, org_price=orgprice, offer_price=offer_price)#, img=img)

In [6]:
def get_flipkart_data(query, page=1):
    url = f'https://www.flipkart.com/search?q={query}&page={page}'
    scrapedata = Scraper(url)
    target = Tag(cls='_1YokD2 _3Mn1Gg')
    items = Tag(cls='_3pLy-c row')
    title = Tag(cls='_4rR01T')
    rating = Tag(cls='_3LWZlK')
    offer_price = Tag(cls='_30jeq3 _1_WHN1')
    orgprice = Tag(cls='_3I9_wc _27UcVY')
    # img = Tag('img', attr='src')
    output  = scrapedata.get_all(target, items, name=title, rating=rating, org_price=orgprice, offer_price=offer_price)#, img=img)
    return output

In [7]:
get_flipkart_data('mobiles under 15000')

[{'name': 'POCO M4 Pro (Cool Blue, 128 GB)',
  'rating': '4.3',
  'org_price': '₹19,999',
  'offer_price': '₹12,999'},
 {'name': 'MOTOROLA g72 (Meteorite Grey, 128 GB)',
  'rating': '4.1',
  'org_price': '₹21,999',
  'offer_price': '₹14,999'},
 {'name': 'MOTOROLA g52 (Charcoal Grey, 128 GB)',
  'rating': '4.2',
  'org_price': '₹19,999',
  'offer_price': '₹12,999'},
 {'name': 'GREENBERRI RAFALE',
  'rating': '4',
  'org_price': None,
  'offer_price': '₹899'},
 {'name': 'MOTOROLA g52 (Charcoal Grey, 64 GB)',
  'rating': '4.2',
  'org_price': '₹17,999',
  'offer_price': '₹10,999'},
 {'name': 'POCO M4 5G (Power Black, 128 GB)',
  'rating': '4.2',
  'org_price': '₹18,999',
  'offer_price': '₹14,999'},
 {'name': 'POCO M4 5G (Power Black, 64 GB)',
  'rating': '4.2',
  'org_price': '₹15,999',
  'offer_price': '₹12,999'},
 {'name': 'SAMSUNG Galaxy F14 5G (OMG Black, 128 GB)',
  'rating': '4.3',
  'org_price': '₹17,490',
  'offer_price': '₹14,490'},
 {'name': 'POCO M4 Pro (Cool Blue, 64 GB)',
  'rating': '4.3',
  'org_price': '₹17,999',
  'offer_price': '₹11,999'},
 {'name': 'MOTOROLA G32 (Satin Silver, 128 GB)',
  'rating': '4.2',
  'org_price': '₹18,999',
  'offer_price': '₹11,999'},
 {'name': 'MOTOROLA G32 (Mineral Gray, 128 GB)',
  'rating': '4.2',
  'org_price': '₹18,999',
  'offer_price': '₹11,999'},
 {'name': 'POCO M4 5G (Cool Blue, 128 GB)',
  'rating': '4.2',
  'org_price': '₹18,999',
  'offer_price': '₹14,999'},
 {'name': 'SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)',
  'rating': '4.3',
  'org_price': '₹17,490',
  'offer_price': '₹14,490'},
 {'name': 'SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)',
  'rating': '4.4',
  'org_price': '₹14,999',
  'offer_price': '₹10,999'},
 {'name': 'POCO M4 5G (Cool Blue, 64 GB)',
  'rating': '4.2',
  'org_price': '₹15,999',
  'offer_price': '₹12,999'},
 {'name': 'MOTOROLA g72 (Polar Blue, 128 GB)',
  'rating': '4.1',
  'org_price': '₹21,999',
  'offer_price': '₹14,999'},
 {'name': 'SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)',
  'rating': '4.4',
  'org_price': '₹14,999',
  'offer_price': '₹10,999'},
 {'name': 'MOTOROLA g52 (Metallic White, 128 GB)',
  'rating': '4.2',
  'org_price': '₹19,999',
  'offer_price': '₹12,999'},
 {'name': 'SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)',
  'rating': '4.4',
  'org_price': '₹14,999',
  'offer_price': '₹10,999'},
 {'name': 'realme C55 (Sunshower, 64 GB)',
  'rating': '4.4',
  'org_price': '₹12,999',
  'offer_price': '₹10,999'},
 {'name': 'realme C55 (Rainy Night, 64 GB)',
  'rating': '4.4',
  'org_price': '₹12,999',
  'offer_price': '₹10,999'},
 {'name': 'realme C55 (Sunshower, 64 GB)',
  'rating': '4.4',
  'org_price': '₹13,999',
  'offer_price': '₹11,999'},
 {'name': 'realme C55 (Rainy Night, 64 GB)',
  'rating': '4.4',
  'org_price': '₹13,999',
  'offer_price': '₹11,999'},
 {'name': 'realme C55 (Rainy Night, 128 GB)',
  'rating': '4.5',
  'org_price': '₹15,999',
  'offer_price': '₹13,999'}]

In [10]:
query = 'mobiles under 15000'
all_scrape = []
for i in range(1, 16):
    sd = get_flipkart_data(query, i)
    all_scrape.extend(sd)
    print(f'Scraped Page {i}')

scraped_data = pd.DataFrame(all_scrape).dropna(how='all')
scraped_data.to_csv('Mobiles Under 15000 in Flipkart.csv', index=False)

Scraped Page 1
Scraped Page 2
Scraped Page 3
Scraped Page 4
Scraped Page 5
Scraped Page 6
Scraped Page 7
Scraped Page 8
Scraped Page 9
Scraped Page 10
Scraped Page 11
Scraped Page 12
Scraped Page 13
Scraped Page 14
Scraped Page 15

In [11]:
# Load Data
read_data = pd.read_csv('Mobiles Under 15000 in Flipkart.csv')

# Data Preprocesing
read_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         312 non-null    object
 1   rating       308 non-null    float64
 2   org_price    259 non-null    object
 3   offer_price  312 non-null    object
dtypes: float64(1), object(3)
memory usage: 9.9+ KB

In [20]:
read_data['offer_price']

0      ₹14,999
1      ₹12,999
2      ₹10,999
3         ₹799
4      ₹14,999
        ...
307    ₹14,990
308    ₹10,499
309    ₹13,996
310    ₹17,999
311    ₹12,999
Name: offer_price, Length: 312, dtype: object

In [30]:
# Creating Functions for Data Processing

def clean_price(op):
    if isinstance(op, str):
        if('₹' in op):
            op = op.replace(',', '').replace('₹', '')
        else:
            op = np.nan
        return float(op)
    return op

In [31]:
clean_price(read_data['offer_price'][2])

10999.0

In [32]:
read_data['clean_original_price'] = read_data['org_price'].apply(clean_price)
read_data['clean_offer_price'] = read_data['offer_price'].apply(clean_price)

In [33]:
read_data

,name,rating,org_price,offer_price,clean_original_price,clean_offer_price
0,"MOTOROLA g72 (Meteorite Grey, 128 GB)",4.1,"₹21,999","₹14,999",21999.0,14999.0
1,"POCO M4 Pro (Cool Blue, 128 GB)",4.3,"₹19,999","₹12,999",19999.0,12999.0
2,"MOTOROLA g52 (Charcoal Grey, 64 GB)",4.2,"₹17,999","₹10,999",17999.0,10999.0
3,GREENBERRI VIRAT,3.7,"₹1,499",₹799,1499.0,799.0
4,"POCO M4 5G (Power Black, 128 GB)",4.2,"₹18,999","₹14,999",18999.0,14999.0
...,...,...,...,...,...,...
307,"OPPO A54 (Crystal Black, 128 GB)",4.4,"₹15,990","₹14,990",15990.0,14990.0
308,"Redmi 6 (Gold, 64 GB)",4.4,NaN,"₹10,499",NaN,10499.0
309,"Redmi 10 Prime (Phantom Black, 128 GB)",4.1,"₹16,999","₹13,996",16999.0,13996.0
310,"POCO M2 Pro (Two Shades of Black, 64 GB)",4.4,NaN,"₹17,999",NaN,17999.0
311,"realme C15 (Power Blue, 64 GB)",4.4,NaN,"₹12,999",NaN,12999.0

In [34]:
read_data.to_csv('Mobiles Under 15000 in Flipkart (Cleaned).csv', index=False)